* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #8c8c8c;
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0.5rem 2rem;
    font-size: 0.8rem;
    color: rgb(2, 173, 173);
    
}

a {
    text-decoration: none;
    color: rgb(2, 173, 173);
    padding: 0 0 0 20px;
    font-size: 1rem;
}

.heading {
    font-weight: 300;
    color: rgb(2, 173, 173);
}

.container {
   border-top: solid 1px rgb(192, 192, 192);
   display: flex;
   justify-content: center;
   
}

.form_box {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: solid 1px rgb(192, 192, 192);
    width: 40%;
    overflow: hidden;
    
}

.form_heading {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    background-color: rgb(192, 192, 192);
}

label {
    margin: 1rem 1rem 0.3rem 1rem
}

input {
    margin: 0 0 0 1rem;
    width: 90%;
    padding: 0.5rem 0.5rem;
    outline: none;
}

.field_container {
    display: flex;
    flex-direction: column;
}

textarea {
    margin: 0 0 0 1rem;
    width: 90%;
    height: 45px;
    padding: 0.5rem 0.5rem;
    border-radius: 5px; 
    border: solid 1px rgb(192, 192, 192);
    outline: none;
}

select {
    background-color: rgb(0, 173, 150);
    margin: 0 0 0 1rem;
    width: 93%;
    padding: 0.5rem 0.5rem;
    border-radius: 5px; 
    border: solid 0 rgb(192, 192, 192);
    color: white;
    font-weight: 800;
}

.version {
    margin: 0 0 0 1rem;
    width: 18%;
    padding: 0.5rem 0.5rem;
    border-radius: 5px; 
    border: solid 1px rgb(192, 192, 192);
}


.radio_row {
    display: flex;
}
.radio_buttons {
    padding: 1rem 1rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.radio_button {
    width: 13px;
    margin: 0;
    padding: 0;
}

#attachments {
    width: 90%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    padding-right: 110px;
    margin-bottom: 1rem;
}

.btn {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 1.5rem 1rem 3rem 1rem;
    background-color: #e4e4e4;;
    position: relative;
}

button {
    background-color: rgb(2, 173, 173);
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    color: white;
    position: absolute;
    right: 20px;
}